@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__description/cards__description.css);

  .cards {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 920px;
  }